colors = {
  border: #787878,
  price: #b0b0b0
  menu: {
    text: #ab7829,
    text-hover: #000
  },
  add: {
    text: #d60041,
    hover: #fff
  },
  cart: {
    left: {
      text-up: #b0b0b0,
      text-bottom: #ff3170,
      bg: #000
    },
    right: {
      text: #fff
    }
  }
};

plusIcon()
  content: "+"
  margin: 0 5px 0 0
  display: inline-block
  font-size: 14px
  font-weight: bold